<div class="ui middle aligned center aligned grid">
  <div class="column">
    <form class="ui large form" [formGroup]="loginForm">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" class="form-control" name="email" placeholder="E-mail address" formControlName="email"
              required>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password" formControlName="password">
          </div>
        </div>
        <div class="ui fluid large blue submit button" (click)="login()">Login</div>
        <div class="ui fluid large red submit button" (click)="googleLogin()"><i class="google icon"></i>Login with Google</div>
      </div>
      <div *ngIf="(error$ | async) as error" class="ui error message">{{ error }}</div>
    </form>
  </div>
</div>
