.ui.link.cards {
    display: flex;
    justify-content: center;
}

.ten.wide.column .ui.card {
    width: auto;
    height: auto;
    padding: 5%;
}

@media screen and (max-width: 700px) {
    .ui.grid {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .ui.cards.overview {
        margin-top: 10px
    }

    #overview {
        display: none;
    }

    .sixteen.wide.column {
        display: contents;
    }

    .ui.card {
        margin-top: 10px;
    }
}
@media screen and (min-width: 700px) {
    #info {
        display: none;
    }
}