<div *ngIf="item$ | async as item" class="ui grid">
  <div class="six wide column">
    <div class="ui link cards">
      <div class="card">
        <div class="image">
          <img src="https://semantic-ui.com/images/avatar2/large/elyse.png">
        </div>
        <div class="content">
          <div class="header">{{item['name'] ? item.name : 'Unknown'}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="ten wide column">
    <div class="ui card" *ngIf="keys$ | async as keys">
      <div class="content" *ngFor="let key of keys">
        <div class="header">{{ camelCaseToSentence(key) }}</div>
        <div *ngIf="isString(key)" class="description">{{item[key] ? item[key] : 'Unknown'}}</div>
        <div *ngIf="!isString(key)" class="description">
          <div *ngFor="let element of key">
            {{element}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner></ngx-spinner>