app-search-result {
    display: block;
    width: 100%;
}

.ui.divider {
    margin-bottom: 4%;
}

.logo {
    text-align: center;
    img {
        width: 30%;
    }
}

@media screen and (max-width: 700px) {
    .logo {
        text-align: center;
        img {
            width: 60%;
            margin-top: 20px;
        }
    }
}